# Assignment 1

## Topic: `print()`

1. Using the python print function print any string value, integer value, boolean value, float value in single print command

In [92]:
print("Hello, world!", 1, 0.99, True)

Hello, world! 1 0.99 True

2. Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

In [93]:
print("Hello, world!", 1, 0.99, True, sep="-")

Hello, world!-1-0.99-True

3. Using the python print function print any string value, integer value, boolean value, float value in separate print command. But every value must be space separated and in single line.

In [94]:
print("Hello, world!", end=" ")
print(1, end=" ")
print(0.99, end=" ")
print(True)

Hello, world! 1 0.99 True

4. Can a python print function take no value to print???

**Yes**, we can use `print()` function without any arguments. It will print a blank line as the default argument for `end="\n"`.

## Topic: Variables in Python Operators

5. One of my friends name is Mr. Ahmed. He is 30 years old.  He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015. He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.

Note: Create variables from above text and also assign values from the text.

In [95]:
# Personal Information
name = "Ahmed"
age = 30
height_ft = 5.10
weight_gm = 70600

# Education
education = "Bachelors in Law"
passout_year = 2005

# Work
profession = "lawyer"
joining_year = 2015
firm = "The Himalaya Associates"
city = "Karachi"
monthly_income_pkr = 200000

6. How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year

In [96]:
current_year = 2022
years_passed = current_year - passout_year
print(f"{years_passed} years")

17 years

7. How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm

In [97]:
tenure = current_year - joining_year
print(f"{tenure} years")

7 years

8. Convert the monthly income of Mr. Ahmed in dollars.  Create necesary variables and print the income in dollars.

In [98]:
usd_rate = 222.58
monthly_income_usd = monthly_income_pkr / usd_rate
print(f"${monthly_income_usd:.2f}")

$898.55

9. Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value

In [99]:
print(type(monthly_income_usd))
print(f"${int(monthly_income_usd)}")

<class 'float'>
$898

10. Print the type of Mr. Ahmed's weight. Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.

In [100]:
print(type(weight_gm))
weight_kg = weight_gm // 1000
print(f"{weight_kg} kg")

<class 'int'>
70 kg

11. Print the year of birth of Mr. Ahmed.

In [101]:
birth_year = current_year - age
print(birth_year)

1992

12. Can Rs. 100 be divided equally among 6 students? 
Hint: % operator

In [102]:
print(100 % 6 == 0)

False